@page "/about"

<PageTitle>About MyFinance</PageTitle>

<h1>Welcome to MyFinance</h1>
<br />
<p>MyFinance is the all-in-one solution for managing your personal finance. Our application provides an intuitive and user-friendly interface that allows you to easily track your income, expenses, and financial transactions.</p>
<p>With MyFinance, you can easily create and manage a list of income and expense categories, such as salary, utilities, travel, and more. These categories are essential for organizing and analyzing your finances accurately.</p>
<p>Our application allows you to add, edit, and delete financial transactions with just a few clicks. You can also filter transactions by date, category, or amount to quickly find what you're looking for.</p>
<p>In addition, MyFinance provides powerful reporting capabilities that allow you to generate detailed reports for any given date or period. Simply input the start and end dates, and our application will provide you with a summary of your total income and expenses, as well as a list of transactions during that period.</p>
<p>To get started with MyFinance, simply set up your categories. Once you've done that, you're ready to start managing your finances with ease.</p>
<p>Thank you for choosing MyFinance, and we look forward to helping you achieve your financial goals.</p>
